# Ignore local environment files
.env.local
.env

# Node modules
node_modules/

# Next.js build output
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.next
.DS_Store
.env
.env.local
.vscode
